
.hero-img
  right: 0
  top: 0
  background-image: url("../../public/hero.jpg")
  height: 1080px
  background-position: right
  background-size: cover
  background-repeat: no-repeat
  margin-top: -132px

.flex-between
  display: flex
  justify-content: space-between

.gr_38
  margin-top: 380px
  width: 38%
  margin-left: auto
