
.hero-img
  right: 0
  top: 0
  background-image: url("../../public/hero.jpg")
  height: 1080px
  background-position: right
  background-size: cover
  background-repeat: no-repeat
  margin-top: -132px

.flex-between
  display: flex
  justify-content: space-between

.gr_38
  margin-top: 380px
  width: 38%
  margin-left: auto

.car-card
  position: relative
  height: 600px
  transition: all 800ms ease
  &:hover
    h2
      transition: all 800ms ease
      letter-spacing: 1px
    img
      transition: all 800ms ease
      transform: scale(1.05)
  h2,p
    position: absolute
    top: 50%
    left: 62%

.footer
  padding: 134px 0
  text-align: center
